*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
 
 
 .container-header{
    background-image: url(img/pattern.png);
    height:190px;
    position: relative;
    background-color:rgba(78,160,255,255);

    
}
.my-logo{
    width: 300px;
    position: absolute;
    top:80px;
    left:10px;
}


h1 {
    font-size:50px;
}
#autor{
    color: aqua;
}
h6{
    color: grey;
}
.main-text{
    margin-top: 20px;
}
#text-yellow{
    background-color: yellow;
}
ul {
    padding-left: 30px;
}
#text-tab{
    padding-left: 30px;
}
table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

thead {
    background-color: rgb(106, 179, 235);
}
tbody,tfoot{
    background-color: aqua;
}
#tr-no-color{
    background-color: white;
}
table td{
    padding: 5px;
}
section>h5{
    color: gray;
    font-size: larger;
}
.img-pc{
    position:relative;
    margin-top: 10px;
    width: 250px;
    height:210px ;
}
#Lor1 {
    position: absolute;
    top:10px;
    left:75px;
    color: white;
    font-size: larger;

}
#Lor2 {
    position:absolute;
    top:10px;
    left:75px;
    color: white;
    font-size: larger;
}
main{
    margin: 10px;
}
.margin{
    margin-top: 15px;
}

